@charset "UTF-8";
/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Museo";
  src: url(../fonts/museosans-500.otf);
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.wrap-all .header .header__wrapp {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 21px;
  background-color: #03A9F4;
}
.wrap-all .header .header__wrapp .container {
  display: flex;
  justify-content: start;
  padding: 0 15px;
}
.wrap-all .header .header__wrapp .container .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 150px;
}
.wrap-all .header .header__wrapp .container .logo__link {
  display: block;
  margin-right: 7px;
}
.wrap-all .header .header__wrapp .container .logo__link__img {
  width: 62px;
  height: 62px;
}
.wrap-all .header .header__wrapp .container .logo__text {
  display: block;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link {
  text-decoration: none;
  color: #fff;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link .blue-site {
  font-style: italic;
  font-size: 23px;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link .essay {
  font-family: "Poppins-SemiBold";
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ECFA4D;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link .pro {
  font-family: "OpenSans-Regular";
}
.wrap-all .header .header__wrapp .container .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__sel {
  display: inline-block;
  font-family: "Museo";
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #03A9F4;
  margin-right: 30px;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__list {
  display: inline-block;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__list .menu__item .menu__link {
  position: relative;
  font-family: "Museo";
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-right: 30px;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__list .menu__item .menu__link:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F75E2E;
  left: 0;
  bottom: -5px;
}
.wrap-all .header .header__wrapp .container .header__nav .header__call a .fa-brands {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin-right: 25px;
}
.wrap-all .header .header__wrapp .container .header__nav .link .link__item {
  display: inline-block;
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
  padding-top: 17px;
  text-align: center;
  background-color: #0278AF;
  color: #fff;
  border-radius: 3px;
  width: 104px;
  height: 44px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
  transition: all 0.5s;
}
.wrap-all .header .header__wrapp .container .header__nav .link .link__item:hover {
  background-color: #F75E2E;
}
.wrap-all .header .header__wrapp .container .header__nav .burger {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.wrap-all .header .header__wrapp .container .header__nav .burger .burger__line {
  width: 26px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #fff;
}
.wrap-all .header .blue {
  position: relative;
  height: 630px;
  background-color: #fff;
  background-image: url("../img/header/img_cloud.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.01);
  background-repeat: no-repeat;
}
.wrap-all .header .blue .blue__wrapp .container {
  position: relative;
  padding: 140px 15px 156px 15px;
  display: block;
}
.wrap-all .header .blue .blue__wrapp .container .blue__title {
  font-family: "Poppins-Bold";
  font-size: 47px;
  color: #03A9F4;
  font-weight: bold;
  line-height: 1.2;
}
.wrap-all .header .blue .blue__wrapp .container .blue__sub-title {
  position: relative;
  font-family: "Poppins-Bold";
  font-size: 47px;
  color: #000;
  font-weight: bold;
  margin-bottom: 72px;
}
.wrap-all .header .blue .blue__wrapp .container .blue__sub-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #F75E2E;
}
.wrap-all .header .blue .blue__wrapp .container .blue__sub-title::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50px;
  width: 515px;
  height: 1px;
  background-color: grey;
}
.wrap-all .header .blue .blue__wrapp .container .blue__text {
  font-size: 20px;
  font-family: "Poppins-Regular";
  color: #656A70;
  line-height: 1.5;
  margin-bottom: 30px;
}
.wrap-all .header .blue .blue__wrapp .container .blue__link {
  display: inline-block;
  border-radius: 3px;
  background-color: #F75E2E;
  font-size: 14px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 14px 45px;
}
.wrap-all .header .blue .blue__wrapp .container .blue__girl {
  position: absolute;
  top: 97px;
  right: 85px;
  max-width: 310px;
  height: 460px;
  z-index: 2;
}
.wrap-all .header .blue .blue__wrapp .container .blue__girl img {
  width: 100%;
}
.wrap-all .header .blue .blue__wrapp form.blue__form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: -115px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  margin: 0 auto;
  padding: 30px 35px;
  background-color: #03A9F4;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-title {
  display: inline-block;
  font-family: "Poppins-Medium";
  font-size: 13px;
  margin-bottom: 5px;
  color: #fff;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-sel {
  font-family: "Poppins-Regular";
  font-size: 13px;
  border-radius: 3px;
  background-color: #fff;
  padding-left: 12px;
  width: 206px;
  height: 54px;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 54px;
  background-color: #F9FCFC;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus {
  height: 100%;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.5px;
  height: 100%;
  border-right: solid 1px grey;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus {
  height: 100%;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.5px;
  height: 100%;
  border-left: solid 1px grey;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus a:hover, .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus a:hover {
  box-shadow: 1px 1px 5px gray;
  background-color: #fff;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-btn {
  width: 206px;
  height: 54px;
  font-family: "Poppins-Medium";
  font-size: 14px;
  color: #fff;
  background-color: #0287C3;
}

.welcome {
  background-color: #fff;
}
.welcome .container .welcome__wrapp {
  display: flex;
  justify-content: space-between;
  padding: 91px 15px 90px 15px;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__img {
  position: relative;
  width: 515px;
  height: 100%;
  margin-right: 51px;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__img img {
  width: 100%;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__img .welcome__img-text {
  position: absolute;
  top: 94px;
  left: 199px;
  font-family: "Poppins-Bold";
  font-size: 27px;
  color: #0286C3;
  text-transform: uppercase;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__title {
  font-family: "Poppins-Bold";
  font-size: 35px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 41px;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__text {
  font-size: 14px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
  margin-bottom: 15px;
}

.ad {
  background-image: url(../img/block_ad/ad-bg.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}
.ad .container .ad__wrapp {
  padding: 97px 15px 90px 15px;
}
.ad .container .ad__wrapp .ad__title {
  font-size: 33px;
  font-family: "Poppins-Medium";
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
.ad .container .ad__wrapp .ad__grid {
  display: grid;
  grid-template-columns: repeat(3, 274px);
  grid-template-rows: auto;
  justify-self: center;
  justify-items: center;
  grid-gap: 30px;
  margin: 0 auto;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item {
  justify-items: center;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 55px;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__img {
  width: 86px;
  margin-bottom: 26px;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__img img {
  width: 100%;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__sub-title {
  font-size: 14px;
  font-family: "Poppins-Medium";
  color: rgb(30, 32, 33);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__text {
  font-size: 11px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
  text-align: center;
}
.ad .container .ad__wrapp .ad__link {
  text-align: center;
}
.ad .container .ad__wrapp .ad__link a {
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #0286C3;
  font-size: 14px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 14px 65px;
}

.simple {
  margin-bottom: 200px;
  background-color: #fff;
}
.simple .container .simple__wrapp {
  padding: 105px 15px;
}
.simple .container .simple__wrapp .simple__title {
  font-size: 33px;
  font-family: "Poppins-Medium";
  line-height: 1.2;
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-bottom: 87px;
}
.simple .container .simple__wrapp .simple__grid {
  display: grid;
  grid-template-columns: repeat(4, 185px);
  grid-template-rows: auto;
  justify-self: center;
  justify-items: center;
  grid-gap: 30px;
  margin: 0 auto;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item {
  position: relative;
  text-align: center;
  justify-items: center;
  justify-self: center;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__img {
  width: 61px;
  height: 65px;
  margin-bottom: 30px;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__img img {
  width: 100%;
  height: 100%;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__sub-title {
  font-size: 14px;
  font-family: "Poppins-Medium";
  color: rgb(30, 32, 33);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__text {
  font-size: 11px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
  text-align: center;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  display: block;
  width: 16px;
  height: 180px;
  background-image: url("../img/block_simple/arrow_ourSimple.png");
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item:last-child::before {
  content: "";
  background-image: none;
}