@charset "UTF-8";
/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Museo";
  src: url(../fonts/museosans-500.otf);
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url(../fonts/OpenSans-Italic.ttf);
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.wrap-all .header .header__wrapp {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 21px;
  background-color: #03A9F4;
}
.wrap-all .header .header__wrapp .container {
  display: flex;
  justify-content: start;
  padding: 0 15px;
}
.wrap-all .header .header__wrapp .container .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 150px;
}
.wrap-all .header .header__wrapp .container .logo__link {
  display: block;
  margin-right: 7px;
}
.wrap-all .header .header__wrapp .container .logo__link__img {
  width: 62px;
  height: 62px;
}
.wrap-all .header .header__wrapp .container .logo__text {
  display: block;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link {
  text-decoration: none;
  color: #fff;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link .blue-site {
  font-style: italic;
  font-size: 23px;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link .essay {
  font-family: "Poppins-SemiBold";
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ECFA4D;
}
.wrap-all .header .header__wrapp .container .logo__text .text-link .pro {
  font-family: "OpenSans-Regular";
}
.wrap-all .header .header__wrapp .container .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__sel {
  display: inline-block;
  font-family: "Museo";
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #03A9F4;
  margin-right: 30px;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__list {
  display: inline-block;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__list .menu__item .menu__link {
  position: relative;
  font-family: "Museo";
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-right: 30px;
}
.wrap-all .header .header__wrapp .container .header__nav .menu .menu__list .menu__item .menu__link:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F75E2E;
  left: 0;
  bottom: -5px;
}
.wrap-all .header .header__wrapp .container .header__nav .header__call a .fa-brands {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin-right: 25px;
}
.wrap-all .header .header__wrapp .container .header__nav .link .link__item {
  display: inline-block;
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
  padding-top: 17px;
  text-align: center;
  background-color: #0278AF;
  color: #fff;
  border-radius: 3px;
  width: 104px;
  height: 44px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
  transition: all 0.5s;
}
.wrap-all .header .header__wrapp .container .header__nav .link .link__item:hover {
  background-color: #F75E2E;
}
.wrap-all .header .header__wrapp .container .header__nav .burger {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.wrap-all .header .blue {
  position: relative;
  height: 630px;
  background-color: #fff;
  background-image: url("../img/header/img_cloud.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.01);
  background-repeat: no-repeat;
}
.wrap-all .header .blue .blue__wrapp .container {
  position: relative;
  padding: 140px 15px 156px 15px;
  display: block;
}
.wrap-all .header .blue .blue__wrapp .container .blue__title {
  font-family: "Poppins-Bold";
  font-size: 47px;
  color: #03A9F4;
  font-weight: bold;
  line-height: 1.2;
}
.wrap-all .header .blue .blue__wrapp .container .blue__sub-title {
  position: relative;
  font-family: "Poppins-Bold";
  font-size: 47px;
  color: #000;
  font-weight: bold;
  margin-bottom: 72px;
}
.wrap-all .header .blue .blue__wrapp .container .blue__sub-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #F75E2E;
}
.wrap-all .header .blue .blue__wrapp .container .blue__sub-title::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50px;
  width: 515px;
  height: 1px;
  background-color: grey;
}
.wrap-all .header .blue .blue__wrapp .container .blue__text {
  font-size: 20px;
  font-family: "Poppins-Regular";
  color: #656A70;
  line-height: 1.5;
  margin-bottom: 30px;
}
.wrap-all .header .blue .blue__wrapp .container .blue__link {
  display: inline-block;
  border-radius: 3px;
  background-color: #F75E2E;
  font-size: 14px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 14px 45px;
}
.wrap-all .header .blue .blue__wrapp .container .blue__girl {
  position: absolute;
  top: 97px;
  right: 85px;
  max-width: 310px;
  height: 460px;
  z-index: 2;
}
.wrap-all .header .blue .blue__wrapp .container .blue__girl img {
  width: 100%;
}
.wrap-all .header .blue .blue__wrapp form.blue__form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: -115px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  margin: 0 auto;
  padding: 30px 35px;
  background-color: #03A9F4;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-title {
  display: inline-block;
  font-family: "Poppins-Medium";
  font-size: 13px;
  margin-bottom: 5px;
  color: #fff;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-sel {
  font-family: "Poppins-Regular";
  font-size: 13px;
  border-radius: 3px;
  background-color: #fff;
  padding-left: 12px;
  width: 206px;
  height: 54px;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 54px;
  background-color: #F9FCFC;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus {
  height: 100%;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.5px;
  height: 100%;
  border-right: solid 1px grey;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus {
  height: 100%;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.5px;
  height: 100%;
  border-left: solid 1px grey;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus a:hover, .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus a:hover {
  box-shadow: 1px 1px 5px gray;
  background-color: #fff;
}
.wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-btn {
  width: 206px;
  height: 54px;
  font-family: "Poppins-Medium";
  font-size: 14px;
  color: #fff;
  background-color: #0287C3;
}

.welcome {
  background-color: #fff;
}
.welcome .container .welcome__wrapp {
  display: flex;
  justify-content: space-between;
  padding: 91px 15px 90px 15px;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__img {
  position: relative;
  width: 515px;
  height: 100%;
  margin-right: 51px;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__img img {
  width: 100%;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__img .welcome__img-text {
  position: absolute;
  top: 94px;
  left: 199px;
  font-family: "Poppins-Bold";
  font-size: 27px;
  color: #0286C3;
  text-transform: uppercase;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__title {
  font-family: "Poppins-Bold";
  font-size: 35px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 41px;
}
.welcome .container .welcome__wrapp .welcome__item .welcome__text {
  font-size: 14px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
  margin-bottom: 15px;
}

.ad {
  background-image: url(../img/block_ad/ad-bg.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}
.ad .container .ad__wrapp {
  display: grid;
  padding: 97px 15px 90px 15px;
}
.ad .container .ad__wrapp .ad__title {
  font-size: 33px;
  font-family: "Poppins-Medium";
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
.ad .container .ad__wrapp .ad__grid {
  display: grid;
  grid-template-columns: repeat(3, 274px);
  grid-template-rows: auto;
  justify-self: center;
  justify-items: center;
  grid-gap: 30px;
  margin: 0 auto;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item {
  display: grid;
  justify-items: center;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 55px;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__img {
  width: 86px;
  margin-bottom: 26px;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__img img {
  width: 100%;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__sub-title {
  font-size: 14px;
  font-family: "Poppins-Medium";
  color: rgb(30, 32, 33);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
}
.ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__text {
  font-size: 11px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
  text-align: center;
}
.ad .container .ad__wrapp .ad__link {
  text-align: center;
}
.ad .container .ad__wrapp .ad__link a {
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #0286C3;
  font-size: 14px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 14px 65px;
}

.simple {
  background-color: #fff;
}
.simple .container .simple__wrapp {
  display: grid;
  padding: 105px 15px;
}
.simple .container .simple__wrapp .simple__title {
  font-size: 33px;
  font-family: "Poppins-Medium";
  line-height: 1.2;
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-bottom: 87px;
}
.simple .container .simple__wrapp .simple__grid {
  display: grid;
  grid-template-columns: repeat(4, 185px);
  grid-template-rows: auto;
  justify-self: center;
  justify-items: center;
  grid-gap: 30px;
  margin: 0 auto;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item {
  display: grid;
  position: relative;
  text-align: center;
  justify-items: center;
  justify-self: center;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__img {
  width: 61px;
  height: 65px;
  margin-bottom: 30px;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__img img {
  width: 100%;
  height: 100%;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__sub-title {
  font-size: 14px;
  font-family: "Poppins-Medium";
  color: rgb(30, 32, 33);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item .simple__text {
  font-size: 11px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
  text-align: center;
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  display: block;
  width: 16px;
  height: 180px;
  background-image: url("../img/block_simple/arrow_ourSimple.png");
}
.simple .container .simple__wrapp .simple__grid .simple__grid-item:last-child::before {
  content: "";
  background-image: none;
}

.disc {
  position: relative;
  height: 500px;
  background-color: #03A9F4;
}
.disc .container .disc__wrapp {
  position: relative;
  padding-top: 50px;
}
.disc .container .disc__wrapp .disc__title {
  font-size: 33px;
  font-family: "Poppins-Medium";
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.disc .container .disc__wrapp .disc__descr {
  font-size: 20px;
  font-family: "Poppins-Medium";
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.disc .container .disc__wrapp .disc__offer {
  position: absolute;
  bottom: -530px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: start;
  box-shadow: 0px 0px 18px -5px #000000;
  margin: 0 auto;
  width: 950px;
  height: 475px;
  z-index: 10;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
  height: inherit;
  background-color: #fff;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big .big-flex {
  display: flex;
  justify-content: space-between;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big .big-flex .big-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 245px;
  text-align: center;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big .big-flex .big-item .disc-num {
  font-family: "Poppins-Bold";
  font-size: 35px;
  text-transform: uppercase;
  color: #F75E2E;
  margin-bottom: 12px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big .big-flex .big-item .disc-text {
  font-size: 14px;
  font-family: "Poppins-Regular";
  color: rgb(81, 85, 90);
  line-height: 1.571;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big .big-flex .big-item .disc-pages {
  font-size: 17px;
  font-family: "Poppins-SemiBold";
  color: rgb(2, 135, 195);
  font-weight: bold;
  line-height: 1.2;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  width: 1px;
  height: 385px;
  background-color: #D8D8D8;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-big::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 87.5px;
  width: 385px;
  height: 1px;
  background-color: #D8D8D8;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small {
  width: 100%;
  padding: 24px;
  background-color: #03A9F4;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp {
  position: relative;
  height: 100%;
  padding: 27px;
  border: dashed 2px #0287C3;
  border-radius: 15px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .small-title {
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 25px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 278px;
  height: 212px;
  padding-top: 56px;
  background-color: #0287C3;
  border: dashed 2px #fff;
  border-radius: 12px;
  margin-bottom: 45px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get .disc-get__title {
  position: absolute;
  top: 20px;
  left: 57px;
  font-size: 24px;
  font-family: "Poppins-Medium";
  color: #fff;
  line-height: 1.667;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get .disc-get__discount {
  font-size: 61px;
  font-family: "Poppins-Bold";
  font-weight: bold;
  color: #E2F55D;
  line-height: 0.925;
  text-transform: uppercase;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get .disc-get__footer {
  font-size: 14px;
  font-family: "Poppins-Medium";
  color: #fff;
  line-height: 1.571;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get .disc-get__scissors {
  position: absolute;
  top: -15px;
  left: -16px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get .disc-get__stars {
  position: absolute;
  top: -15px;
  right: -10px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .small-footer {
  font-size: 18px;
  font-family: "OpenSans-Italic";
  color: #fff;
  font-style: italic;
  line-height: 1.278;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get__balloon {
  position: absolute;
  bottom: 0;
  right: -52px;
}
.disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get__scissors {
  position: absolute;
  top: 0;
  right: 20px;
}
.disc .disc__cloud {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.disc .disc__cloud img {
  width: 100%;
}
.disc .disc__clouds {
  position: absolute;
  top: 27px;
  right: 35px;
}
.disc .disc__one-cl {
  position: absolute;
  top: 35px;
  left: 39px;
}
.disc .disc__rocket {
  position: absolute;
  top: 119px;
  left: 66px;
}

.clients {
  margin-top: 210px;
  background-color: #fff;
}
.clients .container .clients__wrapp {
  width: 950px;
  margin: 0 auto;
  padding: 94px 200px 80px 200px;
}
.clients .container .clients__wrapp .clients__title {
  font-size: 33px;
  font-family: "Poppins-Medium";
  color: #000;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 35px;
}
.clients .container .clients__wrapp .image-slider {
  position: relative;
  overflow: hidden;
}
.clients .container .clients__wrapp .image-slider .image-slider__wrapper .image-slider__slide {
  text-align: center;
}
.clients .container .clients__wrapp .image-slider .image-slider__wrapper .image-slider__slide .image-slider__image {
  margin: 0 auto;
  max-width: 60px;
  margin-bottom: 30px;
}
.clients .container .clients__wrapp .image-slider .image-slider__wrapper .image-slider__slide .image-slider__image img {
  width: 100%;
}
.clients .container .clients__wrapp .image-slider .image-slider__wrapper .image-slider__slide .image-slider__text {
  font-size: 14px;
  font-family: "Poppins-Light";
  color: #51555A;
  line-height: 1.571;
  margin-bottom: 30px;
}
.clients .container .clients__wrapp .image-slider .image-slider__wrapper .image-slider__slide .image-slider__name {
  font-size: 17px;
  font-family: "Poppins-SemiBold";
  color: #0287C3;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}
.clients .container .clients__wrapp .image-slider .image-slider__wrapper .image-slider__slide .image-slider__date {
  font-size: 13px;
  font-family: "Poppins-Light";
  color: #A3A6A9;
  line-height: 1.2;
}
.clients .container .clients__wrapp .image-slider .swiper-button-prev,
.clients .container .clients__wrapp .image-slider .swiper-button-next {
  position: absolute;
  color: #000;
  font-size: 80px;
}
.clients .container .clients__wrapp .image-slider .swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background-color: #03A9F4;
}
.footer .container .footer__wrapp {
  padding: 18px 0 50px 15px;
}
.footer .container .footer__wrapp .footer__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.footer .container .footer__wrapp .footer__top .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 150px;
}
.footer .container .footer__wrapp .footer__top .logo__link {
  display: block;
  margin-right: 7px;
}
.footer .container .footer__wrapp .footer__top .logo__link__img {
  width: 62px;
  height: 62px;
}
.footer .container .footer__wrapp .footer__top .logo__text {
  display: block;
}
.footer .container .footer__wrapp .footer__top .logo__text .text-link {
  text-decoration: none;
  color: #fff;
}
.footer .container .footer__wrapp .footer__top .logo__text .text-link .blue-site {
  font-style: italic;
  font-size: 23px;
}
.footer .container .footer__wrapp .footer__top .logo__text .text-link .essay {
  font-family: "Poppins-SemiBold";
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ECFA4D;
}
.footer .container .footer__wrapp .footer__top .logo__text .text-link .pro {
  font-family: "OpenSans-Regular";
}
.footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item {
  margin-right: 30px;
  display: inline-block;
  text-decoration: none;
}
.footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item .footer-nav__link {
  font-size: 12px;
  font-family: "Poppins-Medium";
  color: #fff;
  text-transform: uppercase;
  line-height: 1.333;
}
.footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item .footer-nav__link:hover {
  text-decoration: underline;
}
.footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item:last-child {
  margin-right: 0;
}
.footer .container .footer__wrapp .footer__top::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer .container .footer__wrapp .footer__middle {
  position: relative;
  display: flex;
  justify-content: start;
  margin-bottom: 70px;
}
.footer .container .footer__wrapp .footer__middle .section {
  margin-right: 100px;
}
.footer .container .footer__wrapp .footer__middle .section .section__title {
  font-size: 16px;
  font-family: "Poppins-Medium";
  color: #fff;
  line-height: 1.2;
  margin-bottom: 15px;
}
.footer .container .footer__wrapp .footer__middle .section .section-nav .section-nav__menu .section-nav__item {
  display: block;
}
.footer .container .footer__wrapp .footer__middle .section .section-nav .section-nav__menu .section-nav__item .section-nav__link {
  font-size: 13px;
  font-family: "Poppins-Regular";
  color: #fff;
  line-height: 2;
}
.footer .container .footer__wrapp .footer__middle .section .section-nav .section-nav__menu .section-nav__item .section-nav__link:hover {
  color: #F75E2E;
}
.footer .container .footer__wrapp .footer__middle .section:last-child {
  margin-right: 0;
}
.footer .container .footer__wrapp .footer__middle::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer .container .footer__wrapp .footer__bottom {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item {
  margin-right: 70px;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item .copyright {
  font-size: 13px;
  font-family: "Museo";
  color: #fff;
  line-height: 1.615;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item a {
  margin-right: 20px;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item a .fa-brands {
  font-size: 24px;
  color: #fff;
  line-height: 3.333;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item a.a-phone {
  display: inline-block;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item a.a-phone .fa-solid {
  font-size: 24px;
  color: #fff;
  line-height: 3.333;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item p {
  display: inline-block;
  font-size: 13px;
  font-family: "Poppins-Medium";
  color: #fff;
  line-height: 1.231;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item a.a-email {
  display: inline-block;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item a.a-email .fa-solid {
  font-size: 24px;
  color: #fff;
  line-height: 3.333;
}
.footer .container .footer__wrapp .footer__bottom .bottom-item:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .wrap-all .header .header__wrapp .container {
    width: 100%;
  }
  .wrap-all .header .header__wrapp .container .logo {
    margin-right: 20px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .menu .menu__sel {
    margin-right: 20px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .header__call a .fa-brands {
    font-size: 24px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .link {
    margin-right: 20px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .link .link__item {
    padding-top: 11px;
    width: 80px;
    height: 30px;
  }
  .wrap-all .header .blue .blue__wrapp .container {
    width: 1024px;
    padding: 40px 15px 156px 15px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__title {
    font-size: 40px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__sub-title {
    font-size: 40px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__girl {
    top: 164px;
    right: 40px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form {
    width: 1024px;
    padding: 20px 35px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-title {
    font-size: 11px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-sel {
    font-size: 12px;
    border-radius: 6px;
    padding-left: 12px;
    width: 150px;
    height: 35px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages {
    width: 150px;
    height: 35px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-btn {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
  .wrap-all .welcome {
    background-color: #fff;
  }
  .wrap-all .welcome .container {
    width: 1024px;
  }
  .wrap-all .welcome .container .welcome__wrapp {
    padding-bottom: 10px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__text {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .wrap-all .ad .container {
    width: 1024px;
  }
  .wrap-all .simple {
    background-color: #fff;
  }
  .wrap-all .simple .container {
    width: 1024px;
  }
  .wrap-all .disc .container {
    width: 1024px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get {
    margin-bottom: 19px;
  }
  .wrap-all .disc .disc__rocket {
    top: 62px;
    left: 4px;
  }
  .wrap-all .clients .container {
    width: 1024px;
  }
  .wrap-all .footer .container {
    width: 1024px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .logo {
    margin-right: 0px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item:last-child {
    margin-right: 20px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom .bottom-item {
    margin-right: 45px;
  }
}
@media (max-width: 1023px) {
  .wrap-all .header .header__wrapp .container {
    width: 768px;
  }
  .wrap-all .header .header__wrapp .container .logo {
    width: 200px;
    margin-right: 60px;
  }
  .wrap-all .header .header__wrapp .container .logo__text .text-link .blue-site {
    font-size: 16px;
  }
  .wrap-all .header .header__wrapp .container .logo__text .text-link .essay {
    font-size: 16px;
  }
  .wrap-all .header .header__wrapp .container .logo__text .text-link .pro {
    font-size: 12px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .menu .menu__sel {
    display: block;
    margin-bottom: 5px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .link .link__item {
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
  }
  .wrap-all .header .blue {
    height: 543px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__text {
    font-size: 14px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__girl {
    width: 250px;
    margin-right: 256px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__girl img {
    max-width: 100%;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form {
    width: 768px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-sel {
    font-size: 11px;
    border-radius: 4px;
    width: 100px;
    height: 30px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages {
    width: 100px;
    height: 30px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__minus a {
    width: 32.5px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .pages__plus a {
    width: 32.5px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-btn {
    height: 30px;
  }
  .wrap-all .welcome .container {
    width: 768px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__img {
    width: 340px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__img img {
    max-width: 100%;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__img-text {
    top: 60px;
    left: 120px;
    font-size: 21px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__title {
    font-size: 21px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__text {
    font-size: 10px;
  }
  .wrap-all .ad .container {
    width: 768px;
  }
  .wrap-all .ad .container .ad__wrapp {
    padding: 30px 15px 50px 15px;
  }
  .wrap-all .ad .container .ad__wrapp .ad__title {
    margin-bottom: 35px;
  }
  .wrap-all .ad .container .ad__wrapp .ad__grid {
    grid-template-columns: repeat(3, 220px);
    grid-gap: 20px;
  }
  .wrap-all .ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__sub-title {
    font-size: 12px;
  }
  .wrap-all .ad .container .ad__wrapp .ad__grid .ad__grid-item .ad__text {
    font-size: 8px;
  }
  .wrap-all .simple .container {
    width: 768px;
  }
  .wrap-all .simple .container .simple__wrapp {
    padding: 50px 0px;
  }
  .wrap-all .simple .container .simple__wrapp .simple__grid {
    grid-template-columns: repeat(4, 155px);
  }
  .wrap-all .disc .container {
    width: 768px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer {
    width: 560px;
    flex-direction: column;
  }
  .wrap-all .disc .disc__one-cl {
    top: 30px;
  }
  .wrap-all .disc .disc__rocket {
    width: 140px;
  }
  .wrap-all .disc .disc__rocket img {
    max-width: 100%;
  }
  .wrap-all .clients {
    margin-top: 615px;
  }
  .wrap-all .clients .container {
    width: 768px;
  }
  .wrap-all .clients .container .clients__wrapp {
    padding: 94px 286px 80px 105px;
  }
  .wrap-all .footer .container {
    width: 768px;
  }
  .wrap-all .footer .container .footer__wrapp {
    padding: 18px 15px 50px 15px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .logo {
    width: 200px;
    margin-right: 20px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .logo__text .text-link .blue-site {
    font-size: 16px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .logo__text .text-link .essay {
    font-size: 16px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .logo__text .text-link .pro {
    font-size: 12px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item {
    margin-right: 15px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__middle .section .section__title {
    font-size: 12px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__middle .section .section-nav .section-nav__menu .section-nav__item .section-nav__link {
    font-size: 8px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom .bottom-item .copyright {
    font-size: 9px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom .bottom-item a .fa-brands {
    font-size: 15px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom .bottom-item a.a-phone .fa-solid {
    font-size: 15px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom .bottom-item p {
    font-size: 9px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom .bottom-item a.a-email .fa-solid {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .wrap-all .header .header__wrapp .container {
    width: 320px;
    flex-direction: column;
  }
  .wrap-all .header .header__wrapp .container .header__nav {
    position: relative;
  }
  .wrap-all .header .header__wrapp .container .header__nav .menu {
    position: fixed;
    top: -100px;
    left: 0;
    width: 150px;
    height: 80px;
    background-color: #03A9F4;
  }
  .wrap-all .header .header__wrapp .container .header__nav .menu.active {
    position: fixed;
    top: 200px;
    background: rgba(3, 169, 244, 0.9);
    z-index: 3;
    transition: all 0.5s;
    padding: 5px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    top: -60px;
    right: -235px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 30px;
    height: 2px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.1s;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.1s;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger.active span {
    transform: scale(0);
  }
  .wrap-all .header .header__wrapp .container .header__nav .burger:hover {
    cursor: pointer;
  }
  .wrap-all .header .header__wrapp .container .header__nav .link {
    margin-right: 0;
    margin-top: 5px;
  }
  .wrap-all .header .blue .blue__wrapp .container {
    width: 320px;
    padding: 20px 15px 0px 15px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__title {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__sub-title {
    font-size: 21px;
    margin-bottom: 30px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__sub-title::after {
    bottom: -12px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__sub-title::before {
    width: 215px;
    bottom: -12px;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__text {
    font-size: 13px;
    line-height: 1.7;
  }
  .wrap-all .header .blue .blue__wrapp .container .blue__girl {
    right: -165px;
    top: 301px;
    width: 140px;
    height: 210px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form {
    flex-direction: column;
    width: 174px;
    padding: 20px 36px;
    bottom: -381px;
  }
  .wrap-all .header .blue .blue__wrapp form.blue__form .blue__form-item .blue__form-btn {
    width: 100px;
    font-size: 12px;
    margin-top: 15px;
  }
  .wrap-all .welcome .container {
    width: 320px;
  }
  .wrap-all .welcome .container .welcome__wrapp {
    flex-direction: column;
    padding-top: 265px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item {
    margin-bottom: 20px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__img {
    width: 290px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__img .welcome__img-text {
    top: 52px;
    left: 106px;
    font-size: 17px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__title {
    font-size: 18px;
  }
  .wrap-all .welcome .container .welcome__wrapp .welcome__item .welcome__text {
    margin-bottom: 8px;
  }
  .wrap-all .ad .container {
    width: 320px;
  }
  .wrap-all .ad .container .ad__wrapp {
    padding-bottom: 30px;
  }
  .wrap-all .ad .container .ad__wrapp .ad__grid {
    grid-template-columns: repeat(1, 220px);
  }
  .wrap-all .ad .container .ad__wrapp .ad__grid .ad__grid-item {
    margin-bottom: 5px;
  }
  .wrap-all .ad .container .ad__wrapp .ad__link {
    margin-top: 20px;
  }
  .wrap-all .simple .container {
    width: 320px;
  }
  .wrap-all .simple .container .simple__wrapp .simple__title {
    font-size: 27px;
    margin-bottom: 30px;
  }
  .wrap-all .simple .container .simple__wrapp .simple__grid {
    grid-template-columns: repeat(1, 155px);
  }
  .wrap-all .simple .container .simple__wrapp .simple__grid .simple__grid-item::before {
    display: none;
  }
  .wrap-all .disc {
    margin-bottom: 1240px;
  }
  .wrap-all .disc .container {
    width: 320px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__descr {
    font-size: 16px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer {
    width: 280px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-big {
    width: 280px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-big .big-flex {
    width: 280px;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-big::after {
    display: none;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-big::before {
    display: none;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small {
    margin-top: 470px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp {
    padding: 17px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get {
    width: 100%;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .small-title {
    font-size: 16px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .small-footer {
    font-size: 24px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get__balloon {
    right: -20px;
    bottom: 67px;
    width: 67px;
  }
  .wrap-all .disc .container .disc__wrapp .disc__offer .disc__offer-small .small-wrapp .disc-get__balloon img {
    max-width: 100%;
  }
  .wrap-all .disc .disc__clouds {
    top: 12px;
    right: 17px;
    width: 183px;
  }
  .wrap-all .disc .disc__clouds img {
    max-width: 100%;
  }
  .wrap-all .disc .disc__one-cl {
    top: 10px;
    width: 50px;
  }
  .wrap-all .disc .disc__one-cl img {
    max-width: 100%;
  }
  .wrap-all .disc .disc__rocket {
    top: 90px;
    width: 70px;
  }
  .wrap-all .clients {
    display: none;
  }
  .wrap-all .footer .container {
    width: 320px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top {
    flex-direction: column;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .logo {
    width: 270px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__top .footer-nav .footer-nav__menu .footer-nav__item .footer-nav__link {
    font-size: 11px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__middle {
    flex-direction: column;
  }
  .wrap-all .footer .container .footer__wrapp .footer__middle .section {
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .wrap-all .footer .container .footer__wrapp .footer__bottom {
    flex-direction: column;
  }
}