.ad {
	background-image: url(../img/block_ad/ad-bg.png);
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: repeat-y;
	.container {
		.ad__wrapp {
			padding: 97px 15px 90px 15px;
			.ad__title{
				@include sub-title;
				color: #fff;
				margin-bottom: 80px;
			}
			.ad__grid {
				display: grid;
				grid-template-columns: repeat(3, 274px);
				grid-template-rows: auto;
				justify-self: center;
				justify-items:	center;
				grid-gap: 30px;
				margin: 0 auto;
				.ad__grid-item {
					justify-items: center;
					background-color: #fff;
					padding: 20px 30px;
					margin-bottom: 55px;
					.ad__img {
						width: 86px;
						margin-bottom: 26px;
						img {
							width: 100%;
						}
					}
					.ad__sub-title {
						font-size: 14px;
						font-family: "Poppins-Medium";
						color: rgb(30, 32, 33);
						line-height: 1.2;
						text-align: center;
						margin-bottom: 15px;
					}
					.ad__text {
						font-size: 11px;
						font-family: "Poppins-Regular";
						color: rgb(81, 85, 90);
						line-height: 1.571;
						text-align: center;
					}
				}
			}
			.ad__link {
				text-align: center;
				a {
					display: inline-block;
					margin: 0 auto;
					border-radius: 3px;
					background-color: #0286C3;
					font-size: 14px;
					font-family: "Poppins-SemiBold";
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					line-height: 1.2;
					text-align: center;
					padding: 14px 65px;
				}
			}
		}
	}
}




