.clients {
	margin-top: 210px;
	background-color: #fff;
	.container {
		.clients__wrapp {
			width: 950px;
			margin: 0 auto;
			padding: 94px 200px 80px 200px;
			.clients__title {
				font-size: 33px;
				font-family: "Poppins-Medium";
				color: #000;
				line-height: 1.2;
				text-align: center;
				margin-bottom: 35px;
			}
			.image-slider {
				position: relative;
				overflow: hidden;
				.image-slider__wrapper {
					.image-slider__slide {
						text-align: center;
						.image-slider__image {
							margin: 0 auto;
							max-width: 60px;
							margin-bottom: 30px;
							img {
								width: 100%;
							}
						}
						.image-slider__text {
							font-size: 14px;
							font-family: "Poppins-Light";
							color: #51555A;
							line-height: 1.571;
							margin-bottom: 30px;
						}
						.image-slider__name {
							font-size: 17px;
							font-family: "Poppins-SemiBold";
							color: #0287C3;
							font-weight: bold;
							line-height: 1.2;
							margin-bottom: 15px;
						}
						.image-slider__date {
							font-size: 13px;
							font-family: "Poppins-Light";
							color: #A3A6A9;
							line-height: 1.2;
						}
					}
				}
				.swiper-wrapper {
				
				}
				.swiper-button-prev,
				.swiper-button-next {
					position: absolute;
					color: #000;
					font-size: 80px;
				}
				.swiper-button-prev::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.swiper-container {
			
			}
			// .swiper-button-prev,
			// .swiper-button-next {
			// 	position: absolute;
			// 	color: #000;
			// 	font-size: 80px;
			// }
			// .swiper-button-prev::after {
			// 	content: "";
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// }
			.swiper-pagination {
			
			}
			.swiper-scrollbar {
			
			}
		}
	}
}




