.disc {
	position: relative;
	height: 500px;
	background-color: $main-color;
	.container {
		.disc__wrapp {
			position: relative;
			padding-top: 50px;
			.disc__title {
				@include sub-title;
				color: #fff;
				margin-bottom: 30px;
			}
			.disc__descr {
				font-size: 20px;
				font-family: "Poppins-Medium";
				color: #fff;
				line-height: 1.5;
				text-align: center;
			}
			.disc__offer {
				position: absolute;
				bottom: -530px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				justify-content: start;
				box-shadow: 0px 0px 18px -5px #000000;
				margin: 0 auto;
				width: 950px;
				height: 475px;
				z-index: 10;
				.disc__offer-big {
					position: relative;
					display: flex;
					flex-direction: column;
					width: 560px;
					height: inherit;
					background-color: #fff;
					.big-flex {
						display: flex;
						justify-content: space-between;
						.big-item {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							width: 280px;
							height: 245px;
							text-align: center;
							.disc-num {
								font-family: "Poppins-Bold";
								font-size: 35px;
								text-transform: uppercase;
								color: #F75E2E;
								margin-bottom: 12px;
							}
							.disc-text {
								font-size: 14px;
								font-family: "Poppins-Regular";
								color: rgb(81, 85, 90);
								line-height: 1.571;
							}
							.disc-pages {
								font-size: 17px;
								font-family: "Poppins-SemiBold";
								color: rgb(2, 135, 195);
								font-weight: bold;
								line-height: 1.2;
							}
						}
					}
				}
				.disc__offer-big::after {
					content: "";
					position: absolute;
					top: 45px;
					left: 50%;
					width: 1px;
					height: 385px;
					background-color: #D8D8D8;
				}
				.disc__offer-big::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 87.5px;
					width: 385px;
					height: 1px;
					background-color: #D8D8D8;
				}
				.disc__offer-small {
					width: 100%;
					padding: 24px;
					background-color: $main-color;
					.small-wrapp {
						position: relative;
						height: 100%;
						padding: 27px;
						border: dashed 2px #0287C3;
						border-radius: 15px;
						.small-title {
							font-size: 25px;
							font-family: "Poppins-SemiBold";
							color: #fff;
							font-weight: bold;
							text-transform: uppercase;
							line-height: 1.36;
							text-align: center;
							margin-bottom: 25px;
						}
						.disc-get {
							display: flex;
							flex-direction: column;
							justify-content: start;
							align-items: center;
							position: relative;
							width: 278px;
							height: 212px;
							padding-top: 56px;
							background-color: #0287C3;
							border: dashed 2px #fff;
							border-radius: 12px;
							margin-bottom: 45px;
							.disc-get__title {
								position: absolute;
								top: 20px;
								left: 57px;
								font-size: 24px;
								font-family: "Poppins-Medium";
								color: #fff;
								line-height: 1.667;
							}
							.disc-get__discount {
								font-size: 61px;
								font-family: "Poppins-Bold";
								font-weight: bold;
								color: #E2F55D;
								line-height: 0.925;
								text-transform: uppercase;
							}
							.disc-get__footer {
								font-size: 14px;
								font-family: "Poppins-Medium";
								color: #fff;
								line-height: 1.571;
							}
							.disc-get__scissors {
								position: absolute;
								top: -15px;
								left: -16px;
							}
							.disc-get__stars {
								position: absolute;
								top: -15px;
								right: -10px;
							}
						}
						.small-footer {
							font-size: 18px;
							font-family: "OpenSans-Italic";
							color: #fff;
							font-style: italic;
							line-height: 1.278;
						}
						.disc-get__balloon {
							position: absolute;
							bottom: 0;
							right: -52px;
						}
						.disc-get__scissors {
							position: absolute;
							top: 0;
							right: 20px;
						}
					}
				}
			}
		}
	}
	.disc__cloud{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.disc__clouds {
		position: absolute;
		top: 27px;
		right: 35px;
	}
	.disc__one-cl {
		position: absolute;
		top: 35px;
		left: 39px;
	}
	.disc__rocket {
		position: absolute;
		top: 119px;
		left: 66px;
	}
}







