@font-face {
	font-family: "OpenSans-Regular";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
	font-family: "Poppins-Regular";
	src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Poppins-Bold";
	src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
	font-family: "Poppins-Medium";
	src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: "Museo";
	src: url(../fonts/museosans-500.otf);
}

@font-face {
	font-family: "OpenSans-Italic";
	src: url(../fonts/OpenSans-Italic.ttf);
}