.welcome {
	background-color: #fff;
	.container {
		.welcome__wrapp {
			display: flex;
			justify-content: space-between;
			padding: 91px 15px 90px 15px;
			.welcome__item {
				.welcome__img {
					position: relative;
					width: 515px;
					height: 100%;
					margin-right: 51px;
					img {
						width: 100%;
					}
					.welcome__img-text {
						position: absolute;
						top: 94px;
						left: 199px;
						font-family: "Poppins-Bold";
						font-size: 27px;
						color: #0286C3;
						text-transform: uppercase;
					}
				}
				.welcome__title {
					font-family: "Poppins-Bold";
					font-size: 35px;
					color: #000;
					line-height: 1.2;
					margin-bottom: 41px;
				}
				.welcome__text {
					font-size: 14px;
					font-family: "Poppins-Regular";
					color: rgb(81, 85, 90);
					line-height: 1.571;
					margin-bottom: 15px;
				}
			}
		}
	}
}





